{% extends 'base.html.twig' %}

{% block title %}Edit Personaltecnico{% endblock %}

{% block body %}
    <h1>Edit Personaltecnico</h1>

    {{ include('personaltecnico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personaltecnico_index') }}">back to list</a>

    {{ include('personaltecnico/_delete_form.html.twig') }}
{% endblock %}
