{% extends 'base.html.twig' %}

{% block title %}New Referenciasprecios{% endblock %}

{% block body %}
    <h1>Create new Referenciasprecios</h1>

    {{ include('referenciasprecios/_form.html.twig') }}

    <a href="{{ path('app_referenciasprecios_index') }}">back to list</a>
{% endblock %}
