{% extends 'base.html.twig' %}

{% block title %}Edit Usuario{% endblock %}

{% block body %}
    <h1>Edit Usuario</h1>

    {{ include('control2_us/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_control2_us_index') }}">back to list</a>

    {{ include('control2_us/_delete_form.html.twig') }}
{% endblock %}
