{% extends 'base.html.twig' %}

{% block title %}New Facturador{% endblock %}

{% block body %}
    <h1 class="p-3 mb-4 bg-secondary text-white text-center">Registrese como Facturador</h1>

    {{ include('facturador/_form.html.twig') }}

    <a class="btn btn-secondary"  href="{{ path('app_usuario') }}">Regresar</a>
{% endblock %}
