{% extends 'base.html.twig' %}

{% block title %}New Gerente{% endblock %}

{% block body %}
    <h1 class="p-3 mb-2 bg-secondary text-white text-center">Registrese como Gerente</h1>

    {{ include('gerente/_form.html.twig') }}

    <a class="btn btn-secondary"  href="{{ path('app_usuario') }}">Regresar</a>
{% endblock %}
